::ng-deep.mat-step-header .mat-step-icon {
  background-color: #0A29CA;
  opacity: 30%;
}

::ng-deep.mat-step-header .mat-step-icon-selected {
  // background-color: #0A29CA;
  opacity: 100% !important;
}

::ng-deep.mat-step-header .mat-step-label.mat-step-label-active {
  color: #0A29CA !important;
  opacity: 100% !important;
}
::ng-deep.mat-step-header .mat-step-label.mat-step-label {
  color: #0A29CA !important;
  opacity: 30%;
}

.btn-code{
  height: 50px;
  position: relative;
  bottom: 50%;
  left: 60%;

  // position: absolute;
  // bottom: 50%;
  // left: 60%;
  background: #E8E8FF;
}

.btn-code2{
  height: 50px;
  position: relative;
  bottom: 50px;
  left: 230px;
  // position: absolute;
  // bottom: 37.17%;
  // left: 60%;
  background: #E8E8FF;
}

@media (min-width: 1024px) {
  .btn-code{
    position: relative;
    bottom: 50px;
    left: 60%;
    // margin-right: 10px;

    // position: absolute;
    // bottom: 45%;
    // left: 82%;
    background: #E8E8FF;
  }

  .btn-code2{
    // margin-right: 10px;
    position: relative;
    bottom: 50px;
    left: 60%;
    // position: absolute;
    // bottom: 37.17%;
    // left: 82%;
    background: #E8E8FF;
  }
}
