.btn-float {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
.btn-float {
  position: fixed;
  z-index: 3;
  bottom: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  }
}

::ng-deep .mat-simple-snackbar-action{
  color: #FF0000 !important;
}

::ng-deep .class-snackbar {
  background: #FFE7E7 !important;
  opacity: 0.6;
  color: red !important;
  border-radius: 8px !important;
  padding-block: 10px !important;
}
