<div class="centered-content-layout relative">
  <div class="border-top"></div>
  <div class="container px-3 lg:px-4 lg:ml-auto dimension" style="min-height: 800px;">
    <a routerLink="/login" class="flex items-center text-sm mt-4 ml-5" *ngIf="hideSteppers">
      <mat-icon>arrow_back_ios</mat-icon><span class="font-bold text-gray-600">Inicio</span>
    </a>
    <img src="assets/images/login.svg" alt="login" class="hidden lg:block absolute-bg">
    <div class="xl:flex 2xl:flex-col w-full lg:w-7/12 lg:mx-auto items-center container-form">
      <div class="flex flex-col">
        <img class="mx-auto" src="assets/images/logo-full.svg" alt="logo">
        <mat-horizontal-stepper labelPosition="bottom" #stepper *ngIf="hideSteppers" [linear]="true">
          <mat-step [editable]="isEditable" [stepControl]="firstFormGroup">
            <div [formGroup]="firstFormGroup">
              <h4 class="text-3xl font-bold text-center text-gray-600 my-4 pb-3">Recuperar Contraseña</h4>
              <ng-template matStepLabel>Identificación</ng-template>
              <div>
                <mat-form-field appearance="outline" class="w-full text-sm">
                  <input #creditCar (keypress)="onKeyPress($event)" formControlName="cardNumber" maxlength="16" matInput
                         placeholder="N° de tarjeta">
                </mat-form-field>
                <mat-checkbox class="my-3 example-margin text-gray-100 text-sm" color="primary">Recordar N° de tarjeta
                </mat-checkbox>
              </div>
              <div class="flex flex-row">
                <mat-form-field appearance="outline" class="w-20 mr-5 text-sm">
                  <mat-label>DNI</mat-label>
                  <mat-select [(value)]="selected" formControlName="selecDocument">
                    <mat-option value="8">DNI</mat-option>
                    <mat-option value="9">CE</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full text-sm">
                  <mat-label>Ingreso del número de documento</mat-label>
                  <input #document (keypress)="onKeyPress($event)" maxlength={{selected}} formControlName="documentNumber"
                         matInput placeholder="Ingreso del número de documento">
                </mat-form-field>
              </div>
              <p class="text-left text-sm flex items-center">
                <mat-icon class="text-yellow-500 mr-3 my-2">info</mat-icon>Clave de cajero de 4
                digitos
              </p>
              <app-password-field></app-password-field>
              <div class="mt-10 btn-float">
                <button class="btn h-14 w-full" mat-raised-button color="primary"  (click) = "ValidateLoginHB(stepper,creditCar.value,'01',document.value)" matStepperNext>SIGUIENTE</button>
              </div>
            </div>
          </mat-step>

          <mat-step [editable]="isEditable" [stepControl]="secondFormGroup">
            <div style="display: flex; flex-direction: column;" [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Código</ng-template>
              <h4 class="text-3xl font-bold text-center text-gray-600 my-4 pb-3">Ingresa el código</h4>
              <p class="text-center text-sm flex items-center mx-auto">
                <mat-icon class="text-yellow-500 mr-2 my-2">info</mat-icon>Seleccionar el canal donde
                recibirás tu código
              </p>
              <div class="mb-2 mt-4 h-16">
                <mat-card style="border-radius: 20px; height: 50px; padding: 12px !important;">
                  <mat-radio-button checked="true" class="text-sm" value="1" color="primary">+51 ********058
                  </mat-radio-button>
                </mat-card>
                <button class="btn w-28 lg:w-36 btn-code" mat-raised-button>enviar SMS</button>
              </div>
              <div class="mb-8 h-16">
                <mat-card style="border-radius: 20px; height: 50px; padding: 12px !important;">
                  <mat-radio-button class="text-sm" value="2" color="primary">jos**********@gmail.com
                  </mat-radio-button>
                </mat-card>
                <button class="btn w-28 lg:w-36 btn-code2" mat-raised-button>enviar MAIL</button>
              </div>
              <mat-form-field appearance="outline" class="w-64 text-sm mx-auto">
                <mat-label>Ingresa tu código</mat-label>
                <input formControlName="codeNumber" matInput placeholder="Ingresa tu código">
              </mat-form-field>
              <a class="text-sm text-primary text-center cursor-pointer">Solicitar nuevo código</a>
              <div class="btn-float flex flex-row mt-14">
                <!-- agregar snack bar -->
                <div class="mr-5 w-full">
                  <button (mouseover)="back()" class="btn h-14 w-full" mat-raised-button color="primary"
                          matStepperPrevious>VOLVER</button>
                </div>
                <div class="w-full">
                  <button class="btn h-14 w-full" mat-raised-button color="primary" matStepperNext>SIGUIENTE</button>
                </div>
              </div>
            </div>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup">
            <div style="display: flex; flex-direction: column; padding-bottom: 30%">
              <ng-template matStepLabel>Clave de internet</ng-template>
              <h4 class="text-3xl font-bold text-center text-gray-600 my-4 pb-3">Crear Clave de Internet</h4>
              <p class="text-center text-sm flex items-center mx-auto">
                <mat-icon class="text-yellow-500 mr-2 my-2">info</mat-icon>Nueva clave de internet de 6
                digitos
              </p>
              <app-password-field></app-password-field>
              <!-- <mat-form-field appearance="outline" class="w-full text-sm">
                <mat-label>Ingresa el número de tarjeta</mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field> -->
              <p class="text-sm text-center mb-4">Confirmar nueva clave de internet de 6 digitos</p>
              <app-password-field></app-password-field>
              <mat-checkbox [checked]="true" class="mt-5 text-gray-100 text-sm" color="primary">Acepto términos y
                condiciones</mat-checkbox>
              <div class="flex flex-row mt-14 btn-float">
                <div class="mr-5 w-full">
                  <button class="btn h-14 w-full" mat-raised-button color="primary" matStepperPrevious>VOLVER</button>
                </div>
                <div class="w-full">
                  <button (click)="showSuccessfulRegistration()" class="btn h-14 w-full" mat-raised-button
                          color="primary" matStepperNext>CONFIRMAR</button>
                </div>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
        <ng-container *ngIf="!hideSteppers">
          <div style="display: flex; flex-direction: column; width: 355px;">
            <img class="my-5 mx-auto" src="assets/images/checked.svg" alt="image" width="124px"
                 height="72px">
            <h4 class="text-3xl font-bold text-center text-gray-600 mt-10 pb-7">Contraseña <br> generada con éxito</h4>
            <p class="text-center">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
              officia
              consequat
              duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <div class="mt-20 btn-float">
              <button routerLink="/login" class="btn h-14 w-full" mat-raised-button color="primary">INGRESAR</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- <a class="flex items-center text-sm my-8 ml-5">
        <mat-icon class="text-yellow-500 mr-3">help</mat-icon><span class="underline text-primary">Necesitas
            ayuda</span>
    </a> -->
  </div>
</div>
